.cat-image-slider {
    position: relative;
    margin: auto;
}

.cat-image-slider {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $black;
}

.cat-image-slider__range {}