.catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px;
    padding-bottom: 25px;
}

.catalog__title {
    font-family: $oswald;
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
}

.catalog__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.catalog__item {
    margin-bottom: 20px;
    padding-top: 30px;
    padding-right: 33px;
    padding-bottom: 18px;
    padding-left: 20px;
}