.contacts {
    position: relative;
    padding: 0;
    margin: 0;
    outline: 2px solid orchid;
}

.contacts__text-container {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 22px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $white;
}

.contacts__partnership {
    margin: 0;
    font-family: $oswald;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.contacts__address {
    margin: 0;
    font-family: $arial;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
}

.contacts__map {
    width: 100%;
}