.extra-item {
    display: grid;
}

.extra-item__header {
    font-family: $oswald;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $special_dark-grey-2;
}

.extra-item__amount {
    font-family: $arial;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    color: $special_dark-grey;
}

.extra-item__price {
    font-family: $arial;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    text-align: right;
    color: $special_dark-grey;
}

.extra-item__params {
    display: flex;
    width: 100%;
    justify-content: space-between;
}