.how-it-works {
    padding-top: 27px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 42px;
}

.how-it-works__article-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}

.how-it-works__list {
    list-style-type: none;
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 20px;
}

.how-it-works__item {
    font-family: $arial;
    font-size: 14px;
    line-height: 18px;
    color: $special_dark-grey;
}