.more-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

.more-items__more-items-plus {
    width: 30px;
    height: 30px;
    margin: auto;
    background-image: url("../img/icon-plus-mobile.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.more-items__more-items-title {
    font-family: $oswald;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: $black-111;
    text-align: center;
}

.more-items__text {
    font-family: $arial;
    font-size: 12px;
    text-align: center;
}