.page-footer {
    background-color: $basic_grey;
}

.page-footer__footer-container {
    display: flex;
    flex-direction: column;
    padding-top: 28px;
    padding-bottom: 22px;
}

.page-footer__text-logo {
    margin: auto;
}