.page-header {
    display: grid;
    grid-template-columns: min-content auto;
    padding-top: 11px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 16px;
    outline: 2px solid red;
}