.program {
    font-family: $oswald;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px;
    padding-bottom: 32px;
}

.program__form {
    display: grid;
    grid-template-columns: 1fr;
}

.program__page-article-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
}

.program__text {
    font-family: $oswald;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.program__left-label {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
}

.program__cat-name {
    font-family: $oswald;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
    &::placeholder {
        color: inherit;
    }
}

.program__cat-weight {
    font-family: $oswald;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
    &::placeholder {
        color: inherit;
    }
}

.program__cat-age {
    font-family: $oswald;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
    &::placeholder {
        color: inherit;
    }
}

.program__right-form-label {
    display: flex;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey-2;
}

.program__legend {
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
}

.program__email {
    font-family: $oswald;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
    &::placeholder {
        color: inherit;
    }
}

.program__tel {
    font-family: $oswald;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
    &::placeholder {
        color: inherit;
    }
}

.program__user-message {
    font-family: $oswald;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
    &::placeholder {
        color: inherit;
    }
}

.program__right-label {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: $oswald;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.program__required-fields {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}